@page "/resetpassword"

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h3 class="text-center mb-4">Reset Your Password</h3>

            <EditForm Model="Model" OnValidSubmit="HandleReset">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="mb-3">
                    <label for="password" class="form-label">New Password</label>
                    <InputText id="password" class="form-control" type="password" @bind-Value="Model.Password" />
                    <ValidationMessage For="@(() => Model.Password)" />
                </div>

                <button type="submit" class="btn btn-warning w-100">Reset Password</button>
            </EditForm>

        </div>
    </div>
</div>
