@page "/updatepassword"
@attribute [Authorize]


<EditForm Model="Model" OnValidSubmit="HandleUpdatePassword">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container mt-5">
        <div class="card shadow p-4">
            <h4 class="mb-4 text-primary">Update Password</h4>

            <div class="mb-3">
                <label for="currentPassword" class="form-label">Current Password</label>
                <InputText id="currentPassword" type="password" class="form-control" @bind-Value="Model.CurrentPassword" />
                <ValidationMessage For="@(() => Model.CurrentPassword)" />
            </div>

            <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <InputText id="newPassword" type="password" class="form-control" @bind-Value="Model.NewPassword" />
                <ValidationMessage For="@(() => Model.NewPassword)" />
            </div>

            <div class="mb-3">
                <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                <InputText id="confirmNewPassword" type="password" class="form-control" @bind-Value="ConfirmNewPassword" />
                <ValidationMessage For="@(() => ConfirmNewPassword)" />
            </div>

            <button type="submit" class="btn btn-primary w-100">SaveChanges</button>

        </div>
    </div>
</EditForm>
